body {
  font-size: 20px;
  background-color: #F0F0F0; 
  font-family: sans-serif;
 }

 h1 { font-size: 45px; color: #C32D0B; font-family: 'Aladin', cursive;} /*Heading color*/

 h2 {
  font-size: 20px;
  color: #666666 ; /*Report Heading color */
  font-weight: 600;
  line-height: 1.6;
  font-family: 'Spectral', serif;
}

 h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  color: #212a33; 
  margin: 25px 0 10px 0;
  font-family: 'Spectral', serif;
}

.container {padding-right: 0; padding-left: 0;}
.container-fluid {padding-right: 0; padding-left: 0}
.row { margin-right: 0; margin-left:0; }

/** ============= Main-content ===================== **/

.hdrimage {
  width: 100%;
  overflow: hidden;
}

.tileimage {
  width: 180px; 
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;}

[id ^= 'tab'] { display: none; }



/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
h1 { font-size: 20px; }
h3 { font-size: 12px; }
.tileimage {
  width: 100px; 
  height: 110px;
}
}

/********** very Small devices only **********/
@media (max-width: 767px) {

h1 { font-size: 15px; }
h3 { font-size: 10px; }
.tileimage {
  width: 70px; 
  height: 80px;
}
}